/config.yaml
*.py[cod]
.idea
/.pytest_cache

/venv
/logs/
!/logs/.gitkeep
/keys
/static/images/dynamic/*.png
/static/images/dynamic/*.jpg
/static/images/dynamic/*.jpeg
/static/images/dynamic/*.svg
/reports
/temp/
!/temp/.gitkeep
