*.py[cod]
.idea
/.pytest_cache
!/**/.gitkeep

/config.yaml
http-client.env.json
/.env
/Makefile.env
/docker-compose_local.yml
/docker-compose.override.yml

/venv
/.venv
/logs
/temp

/static/images/dynamic/*.png
/static/images/dynamic/*.jpg
/static/images/dynamic/*.jpeg
/static/images/dynamic/*.svg

/reports
/.coverage
/htmlcov
/.betterer_cache
/.ruff_cache
/.mypy_cache
/dev/api_tests/public/business/http-client.env.json
