# Docker Compose project for local development
name: ocpdb

# binary butterfly GmbH projects add a project specific modifier to standard ports to prevent port collisions.
# This project has the modified +10.

# Define placeholder for running a container with the same UID/GID as your local user
x-local-user: &local-user ${DOCKER_LOCAL_USER:?Variable needs to be set in .env (e.g. "DOCKER_LOCAL_USER=1000:1000")}


# Define common defaults to reuse them in the service definitions (YAML anchors)
x-flask-defaults: &flask-defaults
  image: ocpdb-flask:local-dev
  build:
    context: .
    dockerfile: Dockerfile.dev
  volumes:
    - .:/app
  environment:
    # Set this variable in .env to start the app with a different config file (default: config.yaml)
    CONFIG_FILE:
    OCPDB_POSTGRES_DB: ocpdb
    OCPDB_POSTGRES_USER: ocpdb
    OCPDB_POSTGRES_PASSWORD: development
    OCPDB_POSTGRES_DOCKER_COMPOSE_SERVICE: postgre
  # The containers should run with the same UID/GID as your local user, so that files created by the containers are
  # owned by and accessible to the local user.
  user: *local-user
  depends_on:
    rabbitmq:
      condition: service_healthy
    postgre:
      condition: service_healthy

# Define reusable defaults for mocked services
x-mocked-service-defaults: &mocked-service-defaults
  image: ocpdb-flask:local-dev
  command: ["python", "/app/app.py"]
  user: *local-user

services:
  flask:
    <<: *flask-defaults
    command: ["python3", "run_flask_dev.py"]
    ports:
      - '5010:5000'

  worker:
    <<: *flask-defaults
    command: ["python3", "run_celery_dev.py"]

  worker-heartbeat:
    <<: *flask-defaults
    command: ["python3", "run_celery_heartbeat_dev.py"]

  postgre:
    image: postgis/postgis:15-3.5-alpine
    ports:
      - '5432:5432'
    volumes:
      - postgres:/var/lib/postgresql/data/
      - ./scripts:/scripts
      - ./data/regionalschluessel:/data
    environment:
      - POSTGRES_USER=ocpdb
      - POSTGRES_PASSWORD=development
      - POSTGRES_DB=ocpdb
      - PGUSER=ocpdb
    healthcheck:
      test: [ "CMD-SHELL", "sh -c 'pg_isready -U ocpdb -d ocpdb'" ]
      interval: 10s
      timeout: 3s
      retries: 3

  regionalschluessel-importer:
    image: ghcr.io/osgeo/gdal:alpine-small-3.12.1
    user: *local-user
    volumes:
      - ./scripts:/scripts
      - ./data/regionalschluessel:/data
    environment:
      - POSTGRES_HOST=postgre
      - POSTGRES_USER=ocpdb
      - POSTGRES_PASSWORD=development
      - POSTGRES_DB=ocpdb
    depends_on:
      postgre:
        condition: service_healthy
    command: ["/scripts/import-regionalschluessel.sh"]

  rabbitmq:
    image: rabbitmq:latest
    user: rabbitmq
    environment:
      # Disable spammy logging
      RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS: '-rabbit log [{console,[{level,warning}]}]'
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 1s
      timeout: 1s
      retries: 20

  redis:
    image: redis:7.2
    healthcheck:
      test: redis-cli ping
      interval: 1s
      timeout: 1s
      retries: 20


  mocked-ochp:
    <<: *mocked-service-defaults
    volumes:
      - ./dev/test_services/mocked_ochp:/app

  mocked-chargeit:
    <<: *mocked-service-defaults
    volumes:
      - ./dev/test_services/mocked_chargeit:/app

  mocked-stadtnavi:
    <<: *mocked-service-defaults
    volumes:
      - ./dev/test_services/mocked_stadtnavi:/app

  mocked-sw-stuttgart:
    <<: *mocked-service-defaults
    volumes:
      - ./dev/test_services/mocked_sw_stuttgart:/app

  mocked-giroe:
    <<: *mocked-service-defaults
    volumes:
      - ./dev/test_services/mocked_giroe:/app

volumes:
  postgres:
