# Included from Makefile; local environment variables (ignored by git)

# Define these variables for the 'dev-push' target to rsync the local code to a test machine.
#DEV_PUSH_USER = dev
#DEV_PUSH_HOST = ocpdb.tanuki
#DEV_PUSH_ROOT_DIR = /srv/code
