gunicorn
Flask<2.0
Flask-Script
Flask-Failsafe
Flask-SQLAlchemy
Flask-Celery-Helper
Flask-Migrate
SQLAlchemy
requests
lxml
redis
mercantile
python-dateutil
python-dotenv
click<8.0
https://github.com/binary-butterfly/wtfjson/archive/refs/tags/0.2.tar.gz
https://github.com/mapbox/vector-tile-base/archive/refs/heads/master.tar.gz
