gunicorn~=20.1
Flask~=2.2
Flask-Failsafe~=0.2.0
Flask-SQLAlchemy~=3.0
Flask-Celery-Helper~=1.0
Flask-Migrate~=4.0
Flask-CORS~=3.0
SQLAlchemy~=1.4
requests~=2.28
lxml~=4.9
mercantile~=1.2
python-dateutil~=2.8
python-dotenv~=1.0
click~=8.1
pymysql~=1.0
pyyaml~=6.0
validataclass~=0.8.1
SQLAlchemy-Utc~=0.14.0
openpyxl~=3.1
protobuf~=3.20.0
pycountry~=22.3
ngram~=4.0
geopy~=2.3
celery~=5.2
kombu~=5.2
pytest~=7.2
pytest-cov~=4.0
https://github.com/mapbox/vector-tile-base/archive/refs/heads/master.tar.gz

# binary butterfly shared libraries (https://git.sectio-aurea.org/public_libraries)
--extra-index-url https://git.sectio-aurea.org/api/v4/groups/262/-/packages/pypi/simple
flask-openapi==1.1.1.dev21980

--extra-index-url https://git.sectio-aurea.org/api/v4/groups/262/-/packages/pypi/simple
validataclass-search-queries~=0.4.0
