<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OCPI Service Documentation</title>
    <script src="/static/openapi/web-components.min.js"></script>
    <link rel="stylesheet" href="/static/openapi/styles.min.css">
    <style>
        a[href^="https://stoplight.io"] {
            display: none;
        }
    </style>
</head>
<body>
    <elements-api
        apiDescriptionUrl="/documentation/{{ base_path }}.json"
        router="hash"
        layout="sidebar"
    />
</body>
</html>
